<h2><%= @word.word %></h2>

<a href="/word/<%= @word.id %>/edit">Make changes to word</a>

<% if @word.definitions.any? %>
  <ul>
  <% @word.definitions.each do |defi| %>
  <li><a href="/word/<%= @word.id %>/definition/<%= defi.id %>"><%= defi.entry %></a></li>
  <% end %>
</ul>
<% else %>
  <p>There are currently no definitions to display.</p>
<% end %>

<h4>Add a definition:</h4>

<form action="/word/<%= @word.id %>/definition" method="post">
  <div class="form-group">
    <label for="new_definition">Definition:</label>
    <input id="d" name="new_definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add</button>
</form>

<a href="/words">Return to word list</a>

